
<app-navbar></app-navbar>
  <div class="row">

    <div class="jumbotron text-left">
      <h1 class="display-3">Awk SOS</h1>


      <!-- Static Info -->
      <app-howitworks [hidden]="!showHelpOtw"></app-howitworks>
      <!-- -->
      <!-- Alerts -->
      <div [hidden]="showHelpOtw" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reload_page(0)">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <a href="#" class="alert-link">Send Feedback</a>.-->
        <h4 class="alert-heading">Help is on the way!</h4>
        <p class="">Lookout for a text from {{ selectedFriend }} in {{ sendTime/60 }} minutes.</p>
        <hr class="my-1">
        <p class="mb-0 small"><i class="fas fa-lightbulb"></i> <b> Hint:</b> {{ selectedFriend }}'s number is <a class="alert-link">+14702609140</a> , you may want to save it in your contacts.</p>

      </div>
      <!-- Enter Phone Number Step 1 -->
     <div class="form-group">
      <label class="" for="phoneInput">Enter Mobile Number</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-comments"></i> </div>
        </div>
        <!--<label class="lead" for="phoneInput" >{{ mobileInput }}</label>-->
        <input maxlength="10"  [(ngModel)]="mobileInput" type="tel" class="form-control" id="phoneInput"  placeholder="Ex. 555 123 4567">
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
      </div>
      <!-- Select Virtual Friend  Step 2 -->
      <div  class="form-group" *ngIf="mobileInput.length == 10">

        <label for="selectFriend">Who Should Text You?</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user-friends"></i> </div>
          </div>
          <!--<label class="lead" for="phoneInput" >{{ mobileInput }}</label>-->
          <select [(ngModel)]="selectedFriend" id="selectFriend" name="selectTime" class="custom-select" >
            <option value="null" disabled selected> Select A Virtual Friend</option>
            <option value="Bella" >Bella</option>
            <option value="Drew">Drew</option>
            <option value="Taylor">Taylor</option>
            <option value="null" disabled>Create a Friend (Coming Soon)</option>
          </select>
        </div>
        <small class="form-text text-muted">
          Select which virtual friend you want the text to be from.
        </small>
     </div>
      <!-- Select Time to Delivery Step 3 -->
      <div  class="form-group" *ngIf="selectedFriend !== 'null'">
        <label for="selectTime">When Should {{ selectedFriend }} Text You?</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-clock"></i> </div>
          </div>
          <!--<label class="lead" for="phoneInput" >{{ mobileInput }}</label>-->
          <select [(ngModel)]="sendTime" id="selectTime" name="selectTime" class="form-control custom-select " >
            <option value="null" disabled selected> Select a Time</option>
            <option value="0" >Text Me Now</option>
            <option value="300">Text Me in 5 Minutes</option>
            <option value="600">Text Me in 10 Minutes</option>
            <option value="900">Text Me in 15 Minutes</option>
            <option value="3600" disabled>Schedule a Specific Time (Coming Soon)</option>
          </select>
        </div>
        <small  class="form-text text-muted">Standard text messaging rates apply whenever {{ selectedFriend }} sends you a text.</small>
      </div>

      <!--{{ sendTime + "," + mobileInput.length}}-->


      <p class="lead">
        <!--<a [routerLink]="['/help-otw']" class="btn btn-primary" href="#" role="button">Send Help :)</a>
        <router-outlet></router-outlet>-->
        <button [hidden]="!showHelpOtw" [disabled]="sendTime == 'null'" class="btn btn-block btn-primary" role="button" (click)="sendSms(url + mobileInput + '?seconds=' + sendTime + '&' + 'friend=' + selectedFriend)">Send Help :)</button>
        <!--<a [hidden]="mobileInput.length !== 10" (click)="sendSms(url + mobileInput + '?seconds=' + sendTime)" class="btn btn-primary" href="#" role="button">Send Help :)</a>-->
        <!--<a (click)="showStep2= false" class="btn btn-primary" href="#" role="button">Go Back</a>-->

    <div class="col-sm-8" style="background-color:lavenderblush;"></div>
  </div>
  </div>


